SUPABASE_URL=https://mbykiygtchczdcxgcdtr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ieWtpeWd0Y2hjemRjeGdjZHRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0NDQ2MjQsImV4cCI6MjA2NzAyMDYyNH0.q7qtcESIXSehE77umLoCXLODJYWmfMv5obSXxM04lRo
SUPABASE_TABLE=scores
